{% extends 'base.html' %}

{% block content %}

<h2>Detail Page</h2>
<hr/>

<p>글번호 : {{ article.id }}</p>
<p>제목 : {{ article.title }}</p>
<p>작성자 : {{ article.author }}</p>
<p>내용 : {{ article.content }}</p>
<p>생성일자 : {{ article.created_at }}</p>
<p>수정일자 : {{ article.updated_at }}</p>

{% if user == article.author %}
  <a href={% url 'articles:delete' article.pk %}>삭제하기</a>
  <a href={% url 'articles:update' article.pk %}>수정하기</a>
{% endif %}

<hr/>

<h3>댓글</h3>

{% for comment in comments %}
<p>{{ comment.author }} : {{ comment.content }}
  {% if user == article.author or user == comment.author %}
  <a style="float:right" href={% url 'articles:comment_delete' article.pk comment.pk %}>댓글삭제</a>
  {% endif %}</p>
{% endfor %}

<form action={% url 'articles:comment_create' article.id %} method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">댓글작성</button>
</form>

<a href={% url "articles:list" %}>뒤로가기</a>

{% endblock content %}